* {
  
  text-align: center;
}
.App {
  background-color: rgb(165, 160, 154);
}
.nav {
  display:flex;
  justify-content: center;
  background-color: rgb(96, 164, 212);
  color: white;
  text-align: center;
 

}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: white
}
a:hover {
  color:limegreen
}
.navlink {
  margin-right:50px;
}